.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 20px;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .AboutMe::after {
        content: "-x-";
        animation: about-me-background-spin infinite 20s linear;
    }
}

.itsMe {
    width: auto;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}


@keyframes about-me-background-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
