/* Styling for myResume component */
.MyResume__component {
    text-align: left;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 1em;
    width: 90%;
    height: 100%;
    padding: 0 1em 1em 1em;

    & h3 {
        color: #2a1b57;
    }
}

.MyResume__cert-img {
    height: auto;
    max-width: 150px;
    padding-top: 1em;
    margin: 0 1em;
}

.MyResume__experience {
    width: 100%;
}

.MyResume__experience li {
    margin-bottom: 1em;
}

.MyResume__introduction {
    max-width: 75%;
    margin: 0;
}

.MyResume__itsMe {
    width: 150px;
    margin: 0;
    height: auto;
    border: 2px solid #61dafb;
    border-radius: 5%;

    @media (max-width: 768px) {
        width: 60%;
        margin: 0 20%;
    }
}

.MyResume__header {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}