/* Styles for the tabs component that hides & shows content based on selected tab. */
.Tabs__component {
    width: 100%;
}

.Tabs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.Tabs__tab {
    background-color: #444444;
    border: 1px solid #00ffcc;
    border-radius: 5px;
    color: #00ffcc;
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    width: 25%;
}

.Tabs__tab--selected {
    background-color: #222;
}

.Tabs__content {
    display: none;
}

.Tabs__content--selected {
        display: block;
}
.Tabs__tab--disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}
