/* Styles for the tabs component that hides & shows content based on selected tab. */
.Tabs__component {
    width: 100%;
}

.Tabs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #08a17e;
    border-top: 1px solid #08a17e;
}

.Tabs__tab {
    background-color: #222222;
    border: 1px solid #013d30;
    border-radius: 5px;
    color: #01e1b4;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin: 0.75em;
    padding: 0.5em 1em;
    width: 30%;

    @media (max-width: 768px) {
        width: 20%;
    }
}

.Tabs__tab--selected {
    background-color: #444444;
    border: 1px solid #00ffcc;
    color: #00ffcc;
}

.Tabs__content {
    display: none;
}

.Tabs__content--selected {
        display: block;
}
.Tabs__tab--disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}
