body {
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #c19bfd;
}

.App-header__logo {
  padding: .5em .25em .25em;
}

.App-logo {
  border: 2px solid #61dafb;
  border-radius: 35%;
  margin: 0 1em;
  max-height: 100px;
  pointer-events: none;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.App-header__title {
  width: 100%;
}

.App-title {
  color: #ff33ff;
  font-size: calc(10px + 3vmin);
  display: inline;
  margin: 0;
}
